<div class="menu-modal">
  <div class="menu-modal-content-wrapper">
    <div class="menu-modal-content">
      <div class="menu-modal-caption">
        <btn class="close-btn menu-close-btn" id="closeResults" tabindex="0">&#10006;</btn>
        <h1>Best Results</h1>
      </div>
      <div class="menu-modal-section result-modal-content">                                
      <table>
          <thead>
              <tr class="table-header">
                  <th>#</th>
                  <th>User Name</th>
                  <th>Result</th>
              </tr>
          </thead>
          <tbody id="resultsTable">
          </tbody>
      </table>                              
      </div>
    </div>
  </div>
</div>