.monster-legs-1 {
    background-image: url("~/../src/monster/monstersImg/legs/legs1.png");
}

.monster-legs-2 {
    background-image: url("~/../src/monster/monstersImg/legs/legs2.png");
}

.monster-legs-3 {
    background-image: url("~/../src/monster/monstersImg/legs/legs3.png");
}