<img class='programmers_image'>
<div class='options-wrapper' id='cel-wrapper'>
	<label class='options-label'><input type='radio' class='task__form_options' name='answer'><span class="programmer__name"></span></label>
	<label class='options-label'><input type='radio' class='task__form_options' name='answer'><span class="programmer__name"></span></label>
	<label class='options-label'><input type='radio' class='task__form_options' name='answer'><span class="programmer__name"></span></label>
	<label class='options-label'><input type='radio' class='task__form_options' name='answer'><span class="programmer__name"></span></label>
	<input type="button" class='btn task-field-btn' value="Answer">
</div>