<label class='options-label'><input type='radio' class='task__form_options' name='answer'><span class="option"></span></label>
<label class='options-label'><input type='radio' class='task__form_options' name='answer'><span class="option"></span></label>
<label class='options-label'><input type='radio' class='task__form_options' name='answer'><span class="option"></span></label>
<label class='options-label'><input type='radio' class='task__form_options' name='answer'><span class="option"></span></label>
<input type="button" class='btn task-field-btn' value="Answer">