.flags__wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 50px;
	height: 120px;
	margin: 0 auto;
}

.flag__image {
	display: block;
    max-width: 200px;
    height: 120px;
    border: 2px solid teal;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.flag__image:focus {
	outline: none;
}

.selected-flag {
	border: 2px solid #76fbed;
}
