<label class="options-checkbox"><input type="checkbox"  class="options-checkbox__item"><span class="option"></span></label>
<label class="options-checkbox"><input type="checkbox" class="options-checkbox__item"><span class="option"></span></label>
<label class="options-checkbox"><input type="checkbox" class="options-checkbox__item"><span class="option"></span></label>
<label class="options-checkbox"><input type="checkbox" class="options-checkbox__item"><span class="option"></span></label>
<input type="button" class='btn task-field-btn' value="Answer">